<h2>Cutover</h2>
<table style="border:1px solid black;border-collapse: separate;border-spacing: 0;text-align:left;">
  <thead>
    <tr style="background-color:#dbdbdb;">
      <th colspan="2" style="padding: 3px 8px;">Source</th>
      <th colspan="5" style="padding: 3px 8px;">Target</th>
      <th colspan="8" style="padding: 3px 8px;">Cutover</th>
    </tr>
  </thead>
  <thead>
    <tr class="bottom" style="border-bottom:1px solid black;background-color:#dbdbdb;">
      <th style="padding: 3px 8px;">File Server</th>
      <th style="padding: 3px 8px;">Path</th>
      <th style="padding: 3px 8px;">File Server</th>
      <th style="padding: 3px 8px;">Path</th>
      <th style="padding: 3px 8px;">Protocol</th>
      <th style="padding: 3px 8px;">Version</th>
      <th style="padding: 3px 8px;">Type</th>
      <th style="padding: 3px 8px;">Time</th>
      <th style="padding: 3px 8px;">Duration</th>
      <th style="padding: 3px 8px;">Capacity</th>
      <th style="padding: 3px 8px;">Files</th>
      <th style="padding: 3px 8px;">Directories</th>
      <th style="padding: 3px 8px;">Operations</th>
      <th style="padding: 3px 8px;">Others</th>
      <th style="padding: 3px 8px;">Errors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding: 3px 8px;">{{summary.source.file_server}}</td>
      <td style="padding: 3px 8px;">{{summary.source.path}}</td>
      <td style="padding: 3px 8px;">{{summary.target.file_server}}</td>
      <td style="padding: 3px 8px;">{{summary.target.path}}</td>
      <td style="padding: 3px 8px;">{{summary.source.protocol}}</td>
      <td style="padding: 3px 8px;">{{summary.source.protocol_version}}</td>
      <td style="padding: 3px 8px;">{{summary.source.job_type}}</td>
      <td style="padding: 3px 8px;">{{cutover.start_time}}</td>
      <td style="padding: 3px 8px;">{{cutover.duration}}</td>
      <td style="padding: 3px 8px;">{{cutover.capacity}}</td>
      <td style="padding: 3px 8px;">{{cutover.items}}</td>
      <td style="padding: 3px 8px;">{{cutover.directories}}</td>
      <td style="padding: 3px 8px;">{{cutover.operations}}</td>
      <td style="padding: 3px 8px;">{{cutover.others}}</td>
      <td style="padding: 3px 8px;">{{cutover.errors}}</td>
    </tr>
  </tbody>
</table>