  <h2>Last iteration</h2>
  <table style="border:1px solid black;border-collapse: separate;border-spacing: 0;text-align:left;">
   <thead>
    <tr style="background-color:#dbdbdb;">
     <th colspan="2" style="padding: 3px 8px;">Source</th>
     <th colspan="7" style="padding: 3px 8px;">Target</th>
     <th colspan="2" style="padding: 3px 8px;">Scan</th>
     <th colspan="4" style="padding: 3px 8px;">Delta</th>
     <th colspan="4" style="padding: 3px 8px;">Performance</th>
    </tr>
   </thead>
   <thead>
    <tr class="bottom" style="border-bottom:1px solid black;background-color:#dbdbdb;">
     <th style="padding: 3px 8px;">File Server</th>
     <th style="padding: 3px 8px;">Path</th>
     <th style="padding: 3px 8px;">File Server</th>
     <th style="padding: 3px 8px;">Path</th>
     <th style="padding: 3px 8px;">Protocol</th>
     <th style="padding: 3px 8px;">Version</th>
     <th style="padding: 3px 8px;">Type</th>
     <th style="padding: 3px 8px;">#</th>
     <th style="padding: 3px 8px;">Duration</th>
     <th style="padding: 3px 8px;">Items</th>
     <th style="padding: 3px 8px;">Capacity</th>
     <th style="padding: 3px 8px;">Items</th>
     <th style="padding: 3px 8px;">Operations</th>
     <th style="padding: 3px 8px;">Capacity Copied</th>
     <th style="padding: 3px 8px;">Capacity Deleted</th>
     <th style="padding: 3px 8px;">Source scan</th>
     <th style="padding: 3px 8px;">Target scan</th>
     <th style="padding: 3px 8px;">Bandwidth</th>
     <th style="padding: 3px 8px;">Throughput</th>
    </tr>
   </thead>
   <tbody>
    <tr>
      <td style="padding: 3px 8px;">{{last_iteration.summary.source.file_server}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.source.path}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.target.file_server}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.target.path}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.source.protocol}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.source.protocol_version}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.source.job_type}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.job_run_id}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.duration}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.details.files}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.summary.details.capacity}}</td>
      <td style="padding: 3px 8px;">{{sum last_iteration.delta_files last_iteration.delta_directories}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.delta_operations}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.capacity_copied}}</td>
      <td style="padding: 3px 8px;">{{last_iteration.capacity_deleted}}</td>
      <td style="padding: 3px 8px;">-</td>
      <td style="padding: 3px 8px;">-</td>
      <td style="padding: 3px 8px;">-</td>
      <td style="padding: 3px 8px;">-</td>
    </tr>
    </tbody>
  </table>