<p>Hello,</p>

<p>The following {{jobStatusUpdate.jobType}} job has been {{jobStatusUpdate.jobAction}} for below Paths:</p>

<p>Source Path: {{jobStatusUpdate.sourcePath.volumePath}}</p>
<p>Target Path: {{jobStatusUpdate.targetPath.volumePath}}</p>
<p>Source: {{jobStatusUpdate.sourcePath.fileServer.host}}</p>
<p>Target: {{jobStatusUpdate.targetPath.fileServer.host}}</p>